body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

img {
  width: 630px;
  border-radius: 10px;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.sec1 > h3 {
  color: hsl(332, 51%, 32%);
  font-weight: 800;
}

.sec1 {
  background-color: hsl(330, 100%, 98%);
  padding: 20px;
  border-radius: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h2 {
  color: hsl(14, 45%, 36%);
}

.image {
  text-align: center;
}

hr {
  width: 100%;
}

p,
li {
  font-size: 16px;
}

ol li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

.nutri {
  width: 50%;
}

.nutri > p {
  padding-left: 20px;
}

.values {
  width: 50%;
}

.values > p {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

.table-cont {
  display: flex;
}

@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
    margin: 0;
  }

  .container {
    display: block;
    max-width: 370px;
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
    border-radius: 0;
    
  }

  p,
  li {
    font-size: 10px;
  }

  br {
    display: none;
  }

  .two,
  .three,
  .four,
  .five {
    margin-left: 20px;
    margin-right: 20px;
  }

  .five {
    margin-bottom: 20px;
  }
}
